@import "~bootstrap/dist/css/bootstrap.css";
.form-card {
  max-width: 53%;
  max-height: 70%;
  color: rgb(60, 61, 133);
  margin: auto;
  font-style: inherit;
  margin-top: 10% !important;
  z-index: +1 !important;
  background: white;
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  box-shadow: 0 1rem 1rem -0.75rem var(--border);
  padding: 1rem;
  position: relative;
  overflow: hidden;
  }

  .user-form {

    width: 100%;
    color: color(base);
    background-color: color(white);
    margin: auto;
    padding-top: 15px;
    border-radius: 2%;
    margin-top: 15px;
    border-style: hidden;

  } 
 
  .card-header{
    background-color: #33b5e5 !important;
    color: #f2f4f8;
  }
  
  .example-header-image {
   
    background-size: cover;
  
  }
 
  .errorMessage{
    color: red;
    font-size: x-small;
}
  .example-full-width {
    width: 100%;
  }


  .flex-container {
    display: flex;
    flex-direction: row;
    
  }

  
  .flex-input-left {
    flex: 50%;

    
  }
  .flex-card-left {
    flex: 50%;

    
  }
  .flex-card-right {
   
    margin-right: 10%;
    flex: 50%;
  }
  
  .flex-input-right {
   
    padding-left: 10px;
    flex: 50%;
  }
  .flex-input2-left {
    
    flex: 33.33%;
  }
  
  .flex-input2-right {
   
    padding-left: 10px;
    padding-right: 10px;
    flex: 33.33%;
  }

  .flex-input2-right2 {
   
    flex: 33.33%;
  }
  
  @media (max-width: 1060px) {

    .form-card {
      max-width: 73%;
      max-height: 100%;
      font-style: inherit;
      margin-top: 2% !important;
      z-index: +1 !important;
      }
      .user-form {
    
        width: 100%;
        padding-top: 5px;
        margin-top: 5px;
       
    
      } 
    .flex-container {
      flex-direction: column;
    }
    .flex-input-left {
    
      flex: 50%;
    }
    
    .flex-input-right {
     
      padding-left: 0px !important;
      flex: 50%;
    }

    .flex-input2-right {
   
      padding-left: 0px;
      padding-right: 0px;
      flex: 33.33%;
    }

    .flex-card-right {
   
      margin-right: 0px;
      flex: 100%;
    }
    .flex-input-left-card {
      flex: 0% !important;
      margin: 0% !important;
      width: 0px;
  
      
    }
    
    
  }
 
.flex {  
    display: flex; 
    justify-content: space-between;
}  



  td {
    padding-right: 8px;
  }
  mat-card{
    max-width: 90%;
  }
  .mat-card-header{
    padding-top: 15px;
    justify-content: center;
    margin: auto;
  }
html, body { height: 100%; }
body { margin: 0; background: #f2f4f8; font-family: Roboto, "Helvetica Neue", sans-serif; }
