
  <mat-card class="mat-elevation-z0 form-card">
    <div class="card-content">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">User Registerstion Form</mat-card-title>
      <mat-icon>person</mat-icon>
    </mat-card-header>
    <mat-card-content class="card-body">
      
          <form  (ngSubmit) = "onSubmit(profileForm)"  [formGroup]="profileForm"  class="user-form" >   
                    <div> 
                        <div class="flex-container">
                              <mat-form-field  class="flex-input-left">
                                  <mat-label>First Name</mat-label>
                                  <input matInput formControlName ="firstName"  >
                                  <mat-icon matSuffix>mode_edit</mat-icon>
                                  <div  class="errorMessage" *ngIf="fname2.invalid && (fname2.dirty || fname2.touched)">
                                    <div *ngIf="fname2.errors.required">
                                      {{warnmessageResult.fnameError}}
                                    </div>  
                                  </div>
                              </mat-form-field>
                              <mat-form-field class="flex-input-right">
                                  <mat-label>Last Name</mat-label>
                                  <input matInput formControlName ="lastName" >
                                  <mat-icon matSuffix>mode_edit</mat-icon>
                                  <div  class="errorMessage" *ngIf="lname2.invalid && (lname2.dirty || lname2.touched)">
                                    <div *ngIf="lname2.errors.required">
                                      {{warnmessageResult.lnameError}}
                                    </div>  
                                  </div>
                              </mat-form-field>
                        </div>
                    <div class="flex-container">
                            <mat-form-field class="flex-input-left">
                              <mat-label> NIC Number</mat-label>
                              <input  matInput   formControlName ="nicNumber"  >
                              <mat-icon  matSuffix>account_box</mat-icon>
                              <div  class="errorMessage" *ngIf="nicNumberError.invalid && (nicNumberError.dirty || nicNumberError.touched)">
                                <div *ngIf="nicNumberError.errors?.pattern">
                                  {{warnmessageResult.nicError2}}
                                </div> 
                                <div *ngIf="nicNumberError.errors.required">
                                  {{warnmessageResult.nicError}}
                                </div>  
                              </div>
                            </mat-form-field>
                            <mat-form-field class="flex-input-right">
                              <mat-label> Employee Number</mat-label>
                              <input  matInput   formControlName ="empNumber"  >
                              <mat-icon  matSuffix>account_box</mat-icon>
                            </mat-form-field>
                    </div>
                    <mat-form-field >
                      <mat-label>Choose a date</mat-label>
                      <input formControlName ="dob" matInput [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                     <div>
                        <mat-form-field >
                          <mat-label>Address</mat-label>
                          <input matInput  placeholder="Ex. 100 Main St"  formControlName ="address">
                        </mat-form-field>
                     </div>
                      <div class="flex-container">
                        <mat-form-field class="flex-input2-com-left" >
                            <mat-label>Mobile Number</mat-label>
                            <input type="tel" matInput   formControlName ="mobileNumber"  minlength="9"  pattern="[07,7][1,2,5,6,7,8][0-9]+" maxlength="10"  placeholder="07XXXXXXXX">
                            <mat-icon  matSuffix> call</mat-icon>
                            <div  class="errorMessage" *ngIf="mobileNumber2.invalid && (mobileNumber2.dirty || mobileNumber2.touched)">
                                <div *ngIf="mobileNumber2.errors?.pattern">
                                  {{warnmessageResult.mobileError}}
                                </div> 
                                  <div *ngIf="mobileNumber2.errors.required">
                                    {{warnmessageResult.requiredmobileError}}
                                  </div>  
                          </div>
                        </mat-form-field>
                        <mat-form-field  class="flex-input2-com-right">
                            <mat-label>Email</mat-label>
                            <input type="email"  matInput formControlName ="emailAddress" >
                            <mat-icon  matSuffix> Email</mat-icon>
                            <div  class="errorMessage" *ngIf="email2.invalid && (email2.dirty || email2.touched)">
                                  <div *ngIf="email2.errors?.pattern">
                                    {{warnmessageResult.emailError2}}
                                  </div> 
                                    <div *ngIf="email2.errors.required">
                                      {{warnmessageResult.emailError1}}
                                    </div>  
                              </div>
                        </mat-form-field>
                      </div>   
                        <div class="flex">
                        <button  type="button" (click)="cancel()" class="btn btn-danger">Cancel</button>
                        <button   class="btn btn-primary"  [disabled]="profileForm.invalid" type="submit" >Submit</button> 
                      </div> 
                    
              </div>
          </form>
      
    </mat-card-content>
    </div>
  </mat-card>
